@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background: url(../public/body-bg.png) top left repeat;
	color: #CEFCD2
}

.bg-shell {
	background: url(../public/body-bg-shell45.webp) right top repeat-y;
}
